/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: #E4F1F1;
}


  .mybtn {
    background-color: #C41F97;
    color: #F1F1F1;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .mybtn:hover {
    background-color: #C41F97A6;
  }
  

/* Modal Content */
.modal-content {
  background-color: #BFE493;
  margin: auto;
  margin-top: 80px;
  padding: 25px;
  border: 1px solid #3C3C3C;
  width: 40%;
  height: 40%; 
}

.modal-content h2{
  text-align: center;
  padding-top: 60px;
}


.modal-content p{
  text-align: center;
}

/* The Close Button */
.close {
  color: #C41F97;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #C41F97A6;
  text-decoration: none;
  cursor: pointer;
}
